.watchlist-combobox-panel{
	-fx-background-color:lighter;
}
.watchlist-combobox-panel .icon{
	-fx-pref-height:2.5em;
	-fx-pref-width:2.5em;
}
.watchlist-editor-modal{
	-fx-pref-width:45em;
	-fx-pref-height:18em;
}