.chart .content-area{
	-fx-border-width:0 1 1 0;
	-fx-border-color:lighter;
}

.chart-view .split-pane *.split-pane-divider {  
    -fx-padding: 0 1 0 1;  
} 

.crosshair Line {
	-fx-stroke: dark;
	-fx-stroke-width: 1px;
	-fx-stroke-dash-array: 10 4 4 4;
	-fx-stroke-dash-offset: 6;
}

.crosshair Label {
	-fx-padding: 0;
	-fx-text-alignment: right;
	-fx-background-color: lightest;
	-fx-text-fill: dark;
}

.value-axis {
	-fx-pref-width: 4em;
	-fx-background-color: lightest;
}

.value-axis Line,
.date-axis Line {
	-fx-stroke: lighter;
}

.date-axis {
	-fx-pref-height: 3em;
}

.date-axis .label {
	-fx-font-size: 0.8em;
}

.grid Line {
	-fx-stroke: lighter;
}

.chart-info-pane{
	-fx-fill-width:false;
}
.plot-info-pane{
	-fx-background-radius:0.5em;
	-fx-border-radius:0.5em;
	-fx-background-color:transparent;
	-fx-text-fill:darker;
	-fx-padding:0.2em;
	-fx-spacing:0.5em;
}
.bar-info-panel{
	
}
.bar-info-panel .name-label{
	-fx-pref-width:1.5em;
}
.bar-info-panel .value-label{
	-fx-pref-width:4em;
}
.bar-info-panel .date-value-label{
	-fx-pref-width:9em;
}





.control-point {
	-fx-fill: derive(background-primary, 40%);
	-fx-opacity: 0.3;
}

.control-point:hover,
.control-point:pressed {
	-fx-opacity: 1;
	-fx-cursor: move;
	-fx-fill: darkest;
}

.drawing Line {
	-fx-stroke: darker;
	-fx-stroke-width: 1px;
}

.drawing Line:hover, .drawing Line:pressed {
	-fx-stroke: darkest;
	-fx-stroke-width: 3px;
	-fx-cursor: move;
}
