.root{
	background-primary:#337ab7;
	text-primary:white;
	background-success:#5cb85c;
	text-success:white;
	background-info:#5bc0de;
	text-info:white;
	background-warning:#eea236;
	text-warning:white;
	background-danger:#d9534f;
	text-danger:white;
	
	lightest:white;
	lighter:#dddddd;
	light:#bbbbbb;
	neutral:gray;
	dark:#505050;
	darker:#303030;
	darkest:black;
}