.modal{
	-fx-font-size:1em;
	-fx-pref-height:30em;
	-fx-pref-width:45em;
	-fx-padding:1em;
}
.modal > .container{
	-fx-padding: 0 0 1em 0;
	-fx-alignment:center;
	-fx-background-color:lightest;
}
.modal > .container > .content{
	-fx-aplignment:center;
}
.modal > .button-group{
	-fx-background-color:lightest;
}


.modal.primary > .title,
.modal.primary > .title .button,
.modal.primary > .title .label{
	-fx-background-color:background-primary;
	-fx-text-fill:text-primary;
	-fx-border-color:background-primary;
}

.modal.primary > .title *.button:hover,
.modal.primary > .title *.button:pressed,
.modal.primary > .title *.button:selected,
.modal.primary > .title *.button:focused{
	-fx-background-color:derive(background-primary, -20%);
}



.modal-lg{
	-fx-font-size:1.2em;
	-fx-pref-height:15em;
	-fx-pref-width:40em;
}
