.menu-bar{
	-fx-background-color:transparent;
	-fx-pref-height:3em;
	-fx-alignment:center;
}



.snap-to-grid-group Line {
	-fx-stroke: lighter;
}

.snap-to-grid-rectangle {
	-fx-fill: lighter;
}

.search-field{
	-fx-padding:0.2em 0 0.2em 0.5em;
}
.text-field-button{
	-fx-cursor:hand;
}

.workbench-tool-bar .icon{
	-fx-icon-background-color:background-primary;
	-fx-icon-text-fill:text-primary;
	-fx-min-width:2.2em;
	-fx-min-height:2.2em;
}
.workbench-tool-bar .icon Line,
.workbench-tool-bar .icon Region,
.workbench-tool-bar .icon Circle,
.workbench-tool-bar .icon Polygon{
	-fx-stroke:lightest;
	-fx-fill:lightest;
}

.scrip-link-context-menu {
	-fx-padding: 0;
	-fx-border-width:0;
	-fx-background-color: transparent;
}

.scrip-link-button, .scrip-link-menu-item {
	-fx-padding: 2;
	-fx-content-display: graphic-only;
	-fx-background-color: transparent;
	-fx-pref-width:2em;
	-fx-background-radius:0.5em;
	-fx-border-radius:0.5em;
}

.scrip-link-button Circle, .scrip-link-menu-item Circle {
	link-color: black;
	-fx-fill: radial-gradient(center 50% 16%, radius 50%, reflect, papayawhip,
		link-color 80%);
}

.view{
	-fx-border-width:0;
	-fx-border-color:lighter;
	-fx-background-color:lightest;
}
.filter-view{
	-fx-pref-width:40em;
}



.message-pane{
	-fx-padding:0.5em;
}
.message-pane .container{
	-fx-border-radius:0.5em;
	-fx-background-radius:0.5em;
}
.message-pane .container .label{
	-fx-padding:0.5em 1em 0.5em 1em;
}
.message-pane.success .container, .message-pane.success .icon{
	-fx-background-color:background-success;
	-fx-text-fill:text-success;
}
.message-pane.danger .container, 
.message-pane.danger .container .label, 
.message-pane.danger .icon{
	-fx-background-color:background-danger;
	-fx-text-fill:text-danger;
}
.message-pane.info .container, .message-pane.info .icon{
	-fx-background-color:background-info;
	-fx-text-fill:text-info;
}
.message-pane.warning .container, .message-pane.warning .icon{
	-fx-background-color:background-warning;
	-fx-text-fill:text-warning;
}

