.menu-bar{
	-fx-background-color:transparent;
	-fx-pref-height:3em;
	-fx-alignment:center;
}
.primary.title > .center > .label{
	-fx-text-fill:text-primary;
}


.snap-to-grid-group Line {
	-fx-stroke: lighter;
}

.snap-to-grid-rectangle {
	-fx-fill: lighter;
}

.search-field{
	-fx-padding:0.2em 0 0.2em 0.5em;
}


.scrip-link-context-menu {
	-fx-padding: 0;
	-fx-border-width:0;
	-fx-background-color: transparent;
}

.scrip-link-button, .scrip-link-menu-item {
	-fx-padding: 2;
	-fx-content-display: graphic-only;
	-fx-background-color: transparent;
	-fx-pref-width:2em;
	-fx-background-radius:0.5em;
	-fx-border-radius:0.5em;
}

.scrip-link-button Circle, .scrip-link-menu-item Circle {
	link-color: black;
	-fx-fill: radial-gradient(center 50% 16%, radius 50%, reflect, papayawhip,
		link-color 80%);
}

.view{
	-fx-border-width:0;
	-fx-border-color:lighter;
	-fx-background-color:lightest;
}
.title > .center > .right, .title > .center > .left, .title > .top, .title > .bottom{
	-fx-spacing:0.5em;
}
.title > .center > .label{
	-fx-font-size:1.2em;
	-fx-graphic-text-gap:0.5em;
	-fx-padding: 0 0.5em 0 0.5em;
}

.primary > .title, .primary > .title > .label, .primary > .title > .label > .graphic, .primary > .title > .center > .right > .button{
	-fx-background-color:background-primary;
	-fx-border-color:background-primary;
	-fx-text-fill:text-primary;
}
.primary > .title >.center >  .right > .button:hover,
.primary > .title >.center >  .right > .button:selected,
.primary > .title >.center >  .right > .button:focused{
	-fx-background-color:derive(background-primary, -15%);
	-fx-border-color:derive(background-primary, -15%);
}

