.toast{
	-fx-pref-width:30em;
	-fx-pref-height:3em;
	-fx-padding:0.5em;
	-fx-background-radius:0.5em;
	-fx-border-radius:0.5em;
}
.toast > .container{
	
}
.toast .message{
	-fx-padding:1em;
}

.toast.primary,
.toast.primary .container,
.toast.primary .message-container,
.toast.primary .button-container,
.toast.primary .button,
.toast.primary .label{
	-fx-background-color:background-primary;
	-fx-text-fill:text-primary;
	-fx-border-color:background-primary;
}

.toast.primary *.button:hover{
	-fx-background-color:derive(background-primary, -5%);
}

.toast.primary *.button:pressed,
.toast.primary *.button:selected,
.toast.primary *.button:focused{
	-fx-background-color:derive(background-primary, -15%);
}